<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/Loopple/loopple-public-assets@main/motion-tailwind/motion-tailwind.css"
  />
</head>
<body class="bg-[#1d232a] min-h-screen flex items-center justify-center">
  <div class="flex items-center xl:p-10">
    <form class="flex flex-col w-full h-full text-center rounded-3xl gap-2">
      <h3 class="mb-10 text-4xl font-extrabold text-primary">Log In</h3>
      <button
        class="btn btn-ghost flex justify-center gap-2 py-2 h-fit flex-wrap"
      >
        <img
          class="h-5"
          src="https://raw.githubusercontent.com/Loopple/loopple-public-assets/main/motion-tailwind/img/logos/logo-google.png"
          alt=""
        />
        Sign in with Google
      </button>

      <div class="flex items-center mb-3">
        <hr class="h-0 border-b border-solid border-grey-500 grow" />
        <p class="mx-4 text-grey-600">or</p>
        <hr class="h-0 border-b border-solid border-grey-500 grow" />
      </div>
      <label for="email" class="mb-2 text-sm text-start text-white"
        >Email *</label
      >
      <input
        id="email"
        type="email"
        placeholder=" Enter your email"
        class="input w-full rounded-2xl !outline-transparent !ring-transparent !border-transparent"
      />

      <label for="password" class="mb-2 text-sm text-start text-white"
        >Password *</label
      >
      <input
        id="password"
        type="password"
        placeholder=" Enter your password"
        class="input w-full rounded-2xl !outline-transparent !ring-transparent !border-transparent"
      />
      <div class="flex justify-between mb-4 mt-2">
        <label
          class="relative inline-flex items-center mr-3 cursor-pointer select-none"
        >
          <input
            type="checkbox"
            class="checkbox checkbox-primary h-[21px] w-[21px] rounded-full"
          />
          <span class="ml-3 text-sm font-normal text-white"
            >Keep me logged in</span
          >
        </label>
        <a
          routerLink="/auth/forgot-password"
          class="text-sm font-medium text-primary py-2 px-3 rounded-full hover:bg-gray-800 duration-200"
          >Forget password?</a
        >
      </div>
      <button class="btn btn-primary w-full md:w-96 rounded-full mb-5">
        Sign In
      </button>
      <p class="text-sm leading-relaxed text-white">
        Not registered yet?
        <a routerLink="auth/signup" class="font-bold text-grey-700"
          >Create an Account</a
        >
      </p>
    </form>
  </div>
</body>
