<h1 class="text-4xl text-center font-bold text-primary">Teachers</h1>

<div class="ml-auto w-fit mr-5 mb-10">
  <button class="btn btn-outline btn-primary" routerLink="add">
    Add Teacher
  </button>
</div>
<div class="overflow-x-auto bg-[#2a323c] px-5 py-3 rounded-2xl">
  <table class="table">
    <thead>
      <tr class="text-gray-300 text-sm">
        <th>Id</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Matiere</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let teacher of teacherDetails">
      <tr>
        <td>{{ teacher.id }}</td>
        <td>
          <h1 class="font-bold">{{ teacher.nom }}</h1>
        </td>
        <td>
          <h1 class="font-bold">{{ teacher.prenom }}</h1>
        </td>
        <td>{{ teacher.matiere }}</td>
        <td class="flex justify-start gap-3">
          <button
            class="btn btn-outline btn-accent"
            routerLink="edit/{{ teacher.id }}"
          >
            Edit
          </button>
          <button
            class="btn btn-outline btn-secondary"
            (click)="deleteTeacher(teacher.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
