<div class="drawer mb-16 mt-5">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <div class="w-full navbar bg-base-300 rounded-2xl">
      <div class="flex-none lg:hidden">
        <label
          for="my-drawer-3"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </label>
      </div>
      <div class="flex-1 px-2 mx-2 text-2xl font-bold">TEK-UP</div>
      <div class="flex-none hidden lg:flex items-center space-x-5 font-medium">
        <ul class="menu menu-horizontal gap-5">
          <li>
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li>
            <a routerLink="/students" routerLinkActive="active">Students</a>
          </li>
          <li>
            <a routerLink="/administration" routerLinkActive="active"
              >Administration</a
            >
          </li>
          <li>
            <a routerLink="/teachers" routerLinkActive="active">Teachers</a>
          </li>
          <li>
            <a routerLink="/login" routerLinkActive="active"> Login </a>
          </li>
        </ul>

        <!-- Moved the button inside the flex container -->
      </div>
    </div>
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer-3"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 gap-5">
      <li><a routerLink="home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="students" routerLinkActive="active">Students</a></li>
      <li>
        <a routerLink="administration" routerLinkActive="active"
          >Administration</a
        >
      </li>
      <li><a routerLink="teachers" routerLinkActive="active">Teachers</a></li>
    </ul>
  </div>
</div>
