<button class="btn btn-outline btn-primary">Add Student</button>

<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label>
          </label>
        </th>
        <th>Id</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Classe</th>
        <th>Reussite</th>
        <th>Absences</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userDetails">
        <th>
          <label>
          </label>
        </th>
        <td>{{ user.id }}</td>
        <td>
          <div class="avatar">
            <div class="mask mask-squircle w-12 h-12">
              <img
                src="https://img.daisyui.com/tailwind-css-component-profile-2@56w.png"
                alt="Avatar Tailwind CSS Component"
              />
            </div>
          </div>
        </td>
        <td>
          <h1 class="font-bold">{{ user.nom }}</h1>
        </td>
        <td>
          <h1 class="font-bold">{{ user.prenom }}</h1>
        </td>
        <td>{{ user.classe }}</td>
        <td>
          <span class="status text-success">&bull;</span>
          {{ user.reussite ? 'Yes' : 'No' }}
        </td>
        <td>{{ user.nbAbsences }}</td>
        <th>
          <button class="btn btn-outline btn-secondary">Delete</button>
          <button  class="btn btn-outline btn-accent">Edit</button>
        </th>
      </tr>
    </tbody>
  </table>
</div>
