<button class="btn btn-outline btn-primary">Add Student</button>

<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Id</th>
        <th>Name</th>
        <th>Class</th>
        <th>Admission</th>
        <th>Abscences</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of userDetails">
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>{{ user.id }}</td>
        <td>
          <div class="avatar">
            <div class="mask mask-squircle w-12 h-12">
              <img
                src="https://img.daisyui.com/tailwind-css-component-profile-2@56w.png"
                alt="Avatar Tailwind CSS Component"
              />
            </div>
          </div>
        </td>
        <td>
          <h1 class="font-bold">{{ user.name }}</h1>
        </td>
        <td>{{ user.class }}</td>
        <td>
          <span class="status text-success">&bull;</span>
          {{ user.admission }}
        </td>
        <td>{{ user.absences }}</td>
        <th>
          <button class="btn btn-outline btn-secondary">Delete</button>
          <button class="btn btn-outline btn-accent">Edit</button>
        </th>
      </tr>
    </tbody>
  </table>
</div>
