<div class="ml-auto w-fit mr-5 mb-5">
  <button class="btn btn-outline btn-primary" routerLink="add">
    Add Student
  </button>
</div>
<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Classe</th>
        <th>reussite</th>
        <th>Absences</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of userDetails">
      <tr>
        <td>{{ user.id }}</td>

        <td>
          <h1 class="font-bold">{{ user.nom }}</h1>
        </td>
        <td>
          <h1 class="font-bold">{{ user.prenom }}</h1>
        </td>
        <td>{{ user.classe }}</td>
        <td>
          <span
            class="status"
            [ngClass]="{
              'text-green-500': user.reussite,
              'text-red-600': !user.reussite
            }"
          >
            &bull;
          </span>
          {{ user.reussite ? "Yes" : "No" }}
        </td>
        <td>{{ user.nbAbsences }}</td>
        <td class="flex justify-start gap-3">
          <button class="btn btn-outline btn-secondary">Delete</button>
          <button
            class="btn btn-outline btn-accent"
            routerLink="edit/{{ user.id }}"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
